

.wrap{	
	background-color: #00849E;
	
}
.inline-bl{
	display: inline-block;
	padding: 10px;
	color: #FFF;
}
.col-md-4{
	padding-inline-start:1%;
}
.offset-md-6{
	float:right;

}
h2{
	text-align:center;
	padding: 20px;
}
#logo_div{
	text-align:center;
	padding:1%;
}

a {
	outline: none;
	text-decoration: none;
	color:blue;
}


			/* Carousel*/


.slide .carousel-indicators > li.active {
	width: 30px;
	height: 5px;
	opacity: 1;
	background-color: #6AB1BF;
}
.slider{
	color: #fff;
	text-align: center;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.75);
}

.btn.btn-lg {
	padding: 10px 40px;
}

.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
	color: #fff;
	background-color: #00849E;
	border-color: rgb(67,41,97);
	outline: none;
	margin: 20px auto;
}

.carousel-inner {
 background-color: #E9F6F9;
 background-position: center;
 min-height: 550px;
 max-width: 500px;
}

#carousel-example-generic{ 
 min-height: 700px;
 max-width: 600px;
 margin:0 auto;
 padding: 5%;
 margin-bottom: 40px;
 background-color: #9AC8CE;
 }

.animated{
	text-align:center;
}




.project{
	width: 90%;
	margin: 0 auto;
	margin-bottom: 30px;
}
		/*Menu_nav*/
.nav-tabs{
	padding:1%;
	background-color: #9AC8CE;
}
		/*Menu tabs with titles*/
.nav-link, .fade{
	padding:1%;
}

footer {
	height:150px;
	background-color: #00849E;
	padding:20px;
}

