
h2{
	text-align:center;
	padding: 20px 0 0;
}

#logo_div{
	text-align:center;
	padding:1%;
}

a {
	outline: none;
	text-decoration: none;
	color:blue;
}


			/* Carousel*/


.carousel-animate .carousel-indicators > li.active {
 width: 10px;
 height: 10px;
 opacity: 1;
 background-color: #6AB1BF;
}
.carousel-animate{
 color: #fff;
 text-align: center;
 text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.75);
}
.hero{
 color: #0C788D;	
 }
.btn.btn-lg {
 padding: 10px 40px;
}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
 color: #fff;
 background-color: #00849E;
 border-color: rgb(67,41,97);
 outline: none;
 margin: 20px auto;
}
.carousel-inner .item {
 transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
 opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
 opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
 left: 0;
 transform: translate3d(0, 0, 0, 0);
}
.carousel-bg .carousel-inner .item {
 background-color: #D0EDF1;
 background-position: center;
 min-height: 580px;
 max-width: 500px;
}
#carousel-example-generic{ 
 min-height: 580px;
 max-width: 500px;
 margin:0 auto;
 padding: 20px;
 margin-bottom: 40px;
 }

#AppTravel_img{
text-align:center;
}









.DDD{
	background-color: aquamarine;
}
.NNN{	background-color: #00849E;}

.inline-bl{
	display: inline-block;
	padding-inline-start:1%;
}

.col-md-4{
	float:left;
	background-color:#EBDBFF;
	padding-inline-start:1%;
	width:49%;
}
.offset-md-4{
	float:right;
	background-color:#EBDBFF;
	width:49%;
}

